{% extends 'base.html.twig' %}

{% block page_class %}
    plans
{% endblock %}

{% block body %}
    {% include 'navbar.twig' %}

    <section class="text-center">
        <h4 class="text-2xl font-bold mb-6">Nos Plans</h4>
    </section>

    <div class="flex justify-center">
        {% for plan in plans %}
            <div class="w-64 mx-3">
                <div class="bg-white shadow-lg rounded-lg p-6 {% if user and user.getPlan() == plan %}bg-gray-300{% endif %}">
                    <h5 class="text-xl font-bold mb-4">{{ plan.getNom() }}</h5>
                    <p class="text-4xl font-bold mb-4">€{{ plan.getPrix() }}<span class="text-sm text-gray-500">/EUR</span></p>
                    {% if user and user.getPlan() != plan %}
                        <form action="{{ path('app_stripe_checkout', { 'planId': plan.id }) }}" method="POST">
                            <input type="hidden" name="storage" value="{{ plan.getCapacite() }}">
                            <button class="w-full py-2 text-white bg-green-500 rounded-full hover:bg-green-600" type="submit">Upgrade to {{ plan.getNom() }}</button>
                        </form>
                    {% else %}
                        <p>Vous avez déjà souscrit à ce stockage</p>
                    {% endif %}
                    <div class="mt-6">
                        <p class="text-sm font-bold uppercase mb-2">Inclus</p>
                        <ul class="text-sm">
                            {% for item in planDetails[plan.getNom()] %}
                                <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
