{% extends 'base.html.twig' %}

{% block title %}Upload file{% endblock %}

{% block body %}
	{% include 'navbar.twig' %}
	<div class="py-10 px-8">
		<div class="flex flex-col items-center mb-6">
			<h5 class="text-2xl font-semibold mb-2">Mes fichiers</h5>
			<div class="flex justify-center space-x-2">
				<a href="{{ path('app_files', { 'sort': 'date', 'order': 'desc' }) }}" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-blue-700 bg-white border border-blue-300 rounded-md hover:bg-blue-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500{% if sort == 'date' %} bg-blue-100{% endif %}">
					Date
				</a>
				<a href="{{ path('app_files', { 'sort': 'name', 'order': 'asc' }) }}" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-blue-700 bg-white border border-blue-300 rounded-md hover:bg-blue-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500{% if sort == 'name' %} bg-blue-100{% endif %}">
					Nom
				</a>
				<a href="{{ path('app_files', { 'sort': 'recent', 'order': 'desc' }) }}" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-blue-700 bg-white border border-blue-300 rounded-md hover:bg-blue-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500{% if sort == 'recent' %} bg-blue-100{% endif %}">
					Récents
				</a>
			</div>

		</div>
		<div class="flex justify-end space-x-2">
			<form action="{{ path('app_files_upload') }}" method="post" enctype="multipart/form-data" class="flex items-center">
				<label for="file-upload" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-blue-700 bg-white border border-blue-300 rounded-md hover:bg-blue-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 cursor-pointer">
					Sélectionner un fichier
				</label>
				<input type="file" name="file" id="file-upload" class="hidden" required>
				<button type="submit" class="inline-flex items-center justify-center px-4 py-2 ml-3 text-sm font-medium text-blue-700 bg-white border border-blue-300 rounded-md hover:bg-blue-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
					Upload
				</button>
			</form>
		</div>
	</div>


	<div class="flex justify-center">
		<form id="search-form" class="mt-4 mb-8">
			<div class="flex items-center bg-white rounded-full shadow-md">
				<input class="rounded-l-full w-full py-2 px-6 text-gray-700 leading-tight focus:outline-none" id="search-query" type="text" placeholder="Search">
				<div class="p-4">
					<button class="bg-blue-500 text-white rounded-full p-2 hover:bg-blue-400 focus:outline-none w-12 h-12 flex items-center justify-center" type="submit">
						🔍
					</button>
				</div>
			</div>
		</form>
	</div>



	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">


		{% for file in files %}
			<div class="max-w-sm rounded overflow-hidden shadow-lg file" style="margin:30px">
				<div class="px-6 py-4">
					<div class="font-bold text-xl mb-2 file-name">{{ file.nom }}</div>
				</div>
				<div class="px-6 pt-4 pb-2" style="text-align: -webkit-center;">
					{% if file.type == 'application/pdf' %}
						<a href="{{ asset('uploads/' ~ file.nom) }}" target="_blank" class="inline-block bg-blue-200 rounded-full px-3 py-1 text-sm font-semibold text-blue-700 mr-2 mb-2">Aperçu PDF</a>
					{% else %}
						<a href="{{ path('app_files_view', {'id': file.id}) }}" class="inline-block bg-blue-200 rounded-full px-3 py-1 text-sm font-semibold text-blue-700 mr-2 mb-2">Voir</a>
					{% endif %}
					<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ file.type|split('/')[1]|upper }}</span>
					<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ file.date|date('d/m/Y') }}</span>

					<form action="{{ path('app_files_delete', {'id': file.id}) }}" method="post" class="inline-block">
						<button type="submit" class="bg-red-200 rounded-full px-3 py-1 text-sm font-semibold text-red-700 mr-2 mb-2">Supprimer</button>
					</form>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="fixed bottom-4 right-4">
		<div class="bg-gray-200 rounded-lg h-6 w-96">
			<div class="bg-blue-500 rounded-lg h-6" style="width: {{ (usedSpace / totalStorage) * 100 }}%;"></div>
		</div>
		<div class="text-center mt-2 text-gray-600">
			{{ usedSpaceFormatted }} / {{ totalStorageFormatted }}
		</div>
	</div>




	<script>
		const searchForm = document.querySelector('#search-form');
		const searchQuery = document.querySelector('#search-query');
		const files = document.querySelectorAll('.file');

		searchForm.addEventListener('input', (event) => {
			event.preventDefault();
			const query = searchQuery.value.toLowerCase();
			files.forEach((file) => {
				const fileName = file.querySelector('.file-name').textContent.toLowerCase();
				if (fileName.includes(query)) {
					file.style.display = 'block';
				} else {
					file.style.display = 'none';
				}
			});
		});


	</script>
{% endblock %}
