{% extends 'base.html.twig' %}

{% block body %}
	<style>
		.container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			background-image: url('https://images.unsplash.com/photo-1499123785106-343e69e68db1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1748&q=80');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	</style>

	<form method="post">
		{% if error %}
			<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as {{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<div class="container">
			<div class="rounded-lg bg-white bg-opacity-75 px-8 py-8">
				<h1 class="text-3xl mb-4 font-semibold">{{ 'Connectez-vous à votre compte'|trans }}</h1>
				<div class="mb-4">
					<label for="inputEmail" class="block text-gray-700 text-sm font-bold mb-2">{{ 'Email'|trans }}</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="border-2 border-gray-300 rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-400" autocomplete="email" required autofocus/>
				</div>
				<div class="mb-4">
					<label for="inputPassword" class="block text-gray-700 text-sm font-bold mb-2">{{ 'Mot de passe'|trans }}</label>
					<input type="password" name="password" id="inputPassword" class="border-2 border-gray-300 rounded-full w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-blue-400" autocomplete="current-password" required/>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

				<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg focus:outline-none" type="submit">{{ 'Connexion'|trans }}</button>
				<p class="mt-3">{{ 'Vous n\'avez pas de compte ?' }} <a href="{{ path('app_register') }}" class="text-blue-500 hover:underline">{{ 'Inscrivez-vous' }}</a></p>
			</div>
		</div>
	</form>
{% endblock %}
